MLS_URL=https://query.ampre.ca/odata
MLS_AUTHTOKEN=eyJhbGciOiJIUzI1NiJ9...
SUPABASE_URL=https://hnjykxyucenvdvmpobau.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
RESOURCE_RECORD_KEY_MAPPING={"X8311912": "N8102234"} 